
<aside class="row">
    <div class="col-lg-6">
        <header><h3>Archive</h3></header>
        <ul>
            <li>2014</li>
            <li>2013</li>
            <li>2012</li>
            <li>2011</li>
        </ul>
    </div>
</aside>

<aside class="row">
    <div class="col-lg-6">
        <header><h3>Categories</h3></header>
        <ul>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
            <li>Category 4</li>
            <li>Category 5</li>
        </ul>
    </div>
</aside>