@using RomanSPA;
@using RomanSPA.Core;
@{
    Layout = Context.IsRomanViewRequest() ? String.Empty : "~/Views/Shared/_Layout.cshtml";
}

<h2>About My Blog</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Quisque feugiat velit nisl, eu ultrices est placerat sed.
    Vivamus dolor augue, sollicitudin nec ligula eget, iaculis varius nibh.
    Nunc non tortor adipiscing, pretium est at, hendrerit odio.
    Nullam congue vulputate mauris volutpat fermentum.
    Morbi imperdiet euismod tellus vitae egestas. Ut nec urna tellus.
    In vitae orci sit amet sem mollis tristique sed tempor tortor.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Pellentesque lacinia enim sed congue accumsan. Maecenas sapien sapien,
    imperdiet sit amet tincidunt nec, pulvinar non dui.
    Etiam hendrerit neque quis volutpat tempor. In mauris orci,
    iaculis et eros a, molestie dictum mauris.
</p>
<p>
    Etiam sit amet molestie tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Pellentesque aliquam, risus nec vestibulum viverra, enim libero elementum est,
    non pharetra ligula justo non elit. Proin tempor arcu eget magna vehicula,
    sed vestibulum arcu dapibus. Pellentesque mi tellus, ullamcorper in mi aliquet,
    pharetra venenatis sapien. Aliquam quam arcu, tristique ac volutpat ut,
    ultrices vitae lorem. Nunc ac ullamcorper tellus. Mauris dolor neque,
    facilisis ac tellus varius, vulputate pharetra mauris. Morbi consectetur
    tortor lectus, vitae dapibus erat posuere et. Nullam ut dui eget sem tincidunt tempus.
    Integer molestie porttitor venenatis. Proin fringilla lectus a convallis gravida.
    Curabitur aliquet tincidunt risus eu vehicula. Nulla quis viverra sapien, quis blandit tortor.
    Aenean quis risus pellentesque, adipiscing erat sed, elementum elit. Nulla eu ullamcorper massa, ut auctor nisi.
</p>