@model RomanSPA.Demo.Models.BlogPost
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <header>
        <h3>@Model.Title</h3>
        <p>Posted on @Model.PostDate</p>
    </header>
    <img src="http://lorempixel.com/640/480/technics/4/" />
    @Html.Raw(Model.BodyText)
</article>
